
Memorize!.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Memorize!.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

Memorize!.xcodeproj/project.xcworkspace/xcuserdata/jheisecke.xcuserdatad/UserInterfaceState.xcuserstate

Memorize!.xcodeproj/xcuserdata/jheisecke.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Memorize!.xcodeproj/xcuserdata/jheisecke.xcuserdatad/xcschemes/xcschememanagement.plist

Memorize!.xcodeproj/xcuserdata/py01357.xcuserdatad/xcschemes/xcschememanagement.plist

Memorize!/.DS_Store

Memorize!/Assets.xcassets/.DS_Store

.DS_Store
