<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859717931165-rpfd4mh3rc6tfmesm4ah1601jal0dga8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859717931165-rpfd4mh3rc6tfmesm4ah1601jal0dga8</string>
	<key>API_KEY</key>
	<string>AIzaSyAxhgnqGhz4ZazYuhsTVK8rirJUttI-jhI</string>
	<key>GCM_SENDER_ID</key>
	<string>859717931165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.jheisecke.MemoryGame</string>
	<key>PROJECT_ID</key>
	<string>memorize-game</string>
	<key>STORAGE_BUCKET</key>
	<string>memorize-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859717931165:ios:d91c39228b3727254f0474</string>
</dict>
</plist>